.congratContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  padding: 2rem;
  /* height: 100%; */
}
.congratText {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bolder;
  font-size: xx-large;
}
