.empContainer {
  display: flex;
  height: 100vh;
}

.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcomeTextContainer {
  min-width: 20rem;
  background-color: #2b5d8b;
  box-shadow: 10px 10px 0.5px #22394e;
  margin: 2rem;
  height: auto;
  position: absolute;
}

.welcomeText {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 2rem;
}

.welcomeText h2 {
  margin: 0.5rem;
  font-size: 4rem;
}

.right {
  background-color: #2b5d8b;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profileContainer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
