.container {
  height: 100%;
  background-color: whitesmoke;
}

.header {
  height: auto;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 4rem;
  justify-content: space-between;
}

.headerText {
  display: flex;
  align-items: center;
  height: 3rem;
  font-size: 5rem;
  margin: 0;
}

.timeDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}

.timeDate p {
  margin: 0;
}

.content {
  display: flex;
  overflow: hidden;
}

.leftContainer {
  width: 60%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: rgb(58, 58, 58);
}

.background {
  width: 100%;
  height: 100vh;
  filter: blur(7px);
  object-fit: cover;
  background-size: cover;
  margin: -75px 0 -170px 0;
}

.logo {
  position: absolute;
  top: 35%;
  left: 20%;
}

.rightContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wifi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18rem;
  width: 30rem;
  margin: 2rem;
}

.rCText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2b5d8b;
  color: white;
  padding: 2rem;
  font-size: xx-large;
  width: 30rem;
}

.rCText p {
  margin: 1rem;
}
